.btn {
  padding: 4px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn:hover {
  color: #fff;
  background-color: var(--vp-c-brand-1);
}
.pre {
  background-color: var(--vp-code-block-bg);
  border-radius: 8px;
}